<a routerLink="/groups"><button>Groups</button> </a>
        <a routerLink="/contacts"> <button>Contacts</button> </a>
        <a routerLink="/specialization"> <button>Specialization</button> </a>

<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li> <a routerLink="/groups">Groups</a></li>
        <li><a routerLink="/contacts">Contacts</a></li>
        <li><a routerLink="/specialization">Specialization</a></li>
      </ul>
    </div>
  </nav> -->
    





<div>
    {{contacts |json }}
</div>





<router-outlet></router-outlet>